h1{
  text-align: center;
  font-family: roboto;
}

.mainmenu{
  align-content: center;
  display: inline-block;

}

.body1{ 
  text-align: center;
  background-image: url("../assets/spaceship.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;

}

/*This is for gp.html, this will be one of the planets battlefield.*/
.body2{
  background-image: url("https://orig00.deviantart.net/662b/f/2014/296/0/3/cyberpunk_cityscape_by_klauspillon-d83vjqq.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  margin-top: 60px;
}

.body3{
  background-image: url("../assets/yin\ yang\ planet.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  margin-top: 60px;
}

.body4{
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhUTEhMWFRUXFRgXGBYXFxcYFxgXGBcWFxgZGBUYHSggGBolHRcYITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGxAQGi8lICUtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIALEBHAMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAADBAECBQAGB//EAD0QAAEDAgQDBQYEBQQCAwAAAAEAAhEDIQQSMUEFUWEicYGRoRMyQrHB8AZS0eEUM2Jy8SOCkrIV0kOiw//EABkBAAMBAQEAAAAAAAAAAAAAAAECAwAEBf/EACkRAAICAgICAgECBwAAAAAAAAABAhEDIRIxE0EEUSJCYRQyUnGRsfD/2gAMAwEAAhEDEQA/APieRUhGcLeJ7tvW/wAkElUYiKriuXJGOQpKhcgYmVC5SAsYhcpIULGOXLlKxiFylcQsY5roMjVQuXLGOUqFYImJaFdQFdOkI2VRDRcMpj3hI6iS2R4tI8FUNUko0LZwAhTKpK4ImosB98/v6K7aaq0ozXopIVth8G29wnvAeiWwzhK3+E4FtRwboSRc6SurGtHDmlsyqlKRYDyQDhfuF9J47+C/YYdlXnqe/T7CL+G/wB/FUhUa8ATeYlvWE7Ue2TjkktI+WVcPGyWqU17j8Q/h51Cu+gTcOjkCOfcvOYvh5bb12U5Y/aLQzfZkAdFxKZqMAQahnRsKLVHQpWAKiVJUZEhRAyqJgsVCErQ6kBhQASiOCGkaHTOUKVwQoJyhWKqsYsVCmFCLAQuUwuQoJxXAqSuhajFVysuARoxLHQZgeInbqrM+wqlqsxFCstCkFVcTqoaURaCEKWxofs7LhHj9O9Q5MKQQuVgFORajWVaEQMU02Jv2UBPGNk5TonBtuOa9NgcQaTmG1iDC85hjBB81sGt7UyIGUAD/ACurHpHFm2z6/UNfF4D2zmEtbTygAiCQQc2WNIsvH4f8Tvo0/Z4eRpmO+bcW+G9khhPxziKWEdhARlIIk6gcgVg4Fxhzudpnxt1smS9EmumMcd4w+vVc9ziXE35zELBxz5OqLxHMxzp1/VZftCp5J1o6MWO/yCiOYXGOfolS5dmKhyOngWqEIedQ4qiRsookqCphSAlGBFVITApqCxDiHkAHcpaFcsV2sWUQuQB4Utar1GXVmNW47Ny0VIUZEfIpyJuInIDksuy8/wBdrI7mQFQtWcTKVg4UQrgLsqFBspCjKr5VORag2c1sqciJTYiNYmUSbkKlq5g26/fyThoKGUAjwZvIqAZFGVPCgu/hwm8YnlQq1iuGFO4fDrq9Dkn8bqybyq6BYSmDqER3aiBCDJFgnKLYaOqaP0JPWwRaMvWVOHqkCAhv1R6TDsEy7FfWyjqhMp1lQNYII1vzSj6UEbc1QmJRToVpPoti65dJmbbrNcmMqEe5Rm7OjGlHoCuKNHRV8ElFbFyoR3AclTL0SND2G/hncio9knWvI0KOziB0c1ru8K/CJzPJL6M1tI3VSwhbDa7D8Ib3foqYl7CLSUfGq7FWZ3VGRlUtamQ1WbRBScCrmKVaaqAvR8L4eKhDHEC9idO4la/EPwRUaA7KRbw8Cqfw8ntEH8yEXxkeMATVOl0WqeEEECEDGvazstILuYuB4803j47ZP+IU3UTNxBExFglqjRsikKIUns6o6BNYuLeiaawK2QLcDeQRyogYnWUWncDw69E1T4O53uFru5w+RRWJ+hXmiuzPYzoiuN5OpTj+GVqfvMcPvmhZFTg0S8ifTFah1VKaarUkIMvGonzSuLsZSVF2KSEWi0wrOb0VOOiTlsjC3lVrNT3DKEzNhzVqlBgdeY7k/H8SfNc2jGyqxabR4rSLqY0aT3lUNW9gAk4FfJ+wrSw5JHVbOGwpaDe5EDl92SeHqQQtX27XMJaAIsmSSJSk2Y76JdM7JaphyvQsw0tENuVl17E2WcUFSaMqpSKFkK0TUOiC+sVJwReM5Cb5tfTbkhpl7kItU2iqYItVcqMGTb5267qmVLQ6YOljPzDxH6JunDhIuEjSwL3iWDPGobdwA3ye9HWIQmvc0/lPdHmEkcjXZSWJP+U2GU0UUVTh9fOL2I1H1TrWrrgk1aOCcnF0xT2Y3XeyGxTRaq+zTcReYOkSF7DgH4lxdFoaMxp6ZZzDwDpHkvLU2iQOq9LhsQKTBFz8vBMkTlvtGX+JcZUqOLnPN9WwG+jQAV58MWrxasXOLnAknYC+536AnuCUw8OYXNBga207+WqSVOXZSC4R0tCrqS5tL7/dNhvJHZhyYgE+C3APkYk2iuNFarcI4atI7wQqVMPCbihPIzMbRPJHaxw5o4bCnJKKgCWQPRxdUCznRy1Hkqk5jcCellZlArhRMq1M57Vgq2F3mEgwGYtqtGtTN0rTAlSmtl8ctBcM4AglocBsZAPSQQfJDexNU2I9KhJIjZagXQDhjdfFVqNl62OFYKQbbFKY7D5XWVHGoEVO8jM80CSSqOpwm2grnUrqZaxdtOyPhHhpg6H7KYpMAudNTOgWDV4q0kloJg+mxSyko9jxhKXR9IwOGD6YLNfDlHkvJcTjM4Ac15ccZrRlzuaCTdpIMcrXgdE3gSA0PDiSWkQSS25mYPX5qccyk6RWXx3FWxh43QDEruIY4aN/x5LNpYdzu1mMk6bnWY/RLPIrpKx8eJtXJ0aDmIZYl3U3mzXukXgiD+6sMU4RmYe8aHuS817H4P0GLVUsVP42SAGnxgIoqtOk/utcWCpLtGQ1pm2vfC9Hw8CowjGOORrZaXdpx6NeILdd5G1l5pWY7oD3rmTo7ZKzWZhmNfmZWaADbMQTl5ODAQeW09E67i2Zp9nSLj+bRg8/qQsKhUymYB77j1XVX5jJAHdP1NlSM2lolLHGT/LZL6+Z01CXdxA8rQPJO4XGZWFrB2iDLnOJawC5IaBGY6XnW1ylWYSdCDvyEcyTEDqmqWBdUDm0o9m0jPVJytJ6k7cmied7JVdjPjRelVfXfne5lNjLhoAiZkMZTuXEl2t9ZM76h4jWpMBLhcRBMum94iBvvoEPC4JlLQB7594zExo1u3eb2Olgc7iADXOl+Z03I0a3lPMm3S6ok4qyTak69BKznOl0kvf2GkntOPxk/lbBiCe/dFwtOph6hc57HEe80VSM83ID2QfIws+mDU7LRc8hpyHQD1QmNAsIJP5gABGpBnTvSX7KV6PRu/EOHqPzZDSnKIs9oOhvAIaOZJNtFp1mPaSILSNdo8trheJZhDlcXNIjR0CDeIuRvynuTvDq9Sk5pdmLBZ1yRl5weX3qrY8zWpHPl+PF7iena9x1JPeSpJ6ApplIEAtuCAQRoQdFIorqOEznCdk1g6AcVd1MRpZP4FjGGXuDR1IB9VSHZLLdaJo8LJsPkn2/hOvE5Mo5ut81Wrxui0hoJeTsztH01V6fH6Bs5xbP5w4epsuhuD0mcajkW6ZmcX4VToU3vqvBy3ysv5n0svB4bHOdVEwGuJtykmBPSw8Ftfi38Qmr7Sg0NyCp77Z7TWxAjT3gTI2heXp6rzs+W5rj0j2Pi4Gsb5rbPZYdogdy0eFUQXO7l5rhfEA2zrtuZGo30Xp+I1v4ak8lzHl7C1uV85S5pyQBrHvSbRYTqqQyLsjkxSf4o3uA4Zj2FzDmaQYd3WPqCvN18VRrmaL8wBANiNR9+Sv+HfxE3D4GrSJDX+zqllx2i7QDcHMdO8ryHCsf7ESBIkEjnAiJ2/xyTZPkaS/yJi+G+UpP10epZhhe99u/ry3QcSWsIzuAmYnp9jzWTU41XE5QzKR2SW9q5zSb3N48lm8Sxj6rs1Q6aQNBysoyy0tHTHA29sb4/wASBYWU5IJ7TtonQeiwGkg8vROM0PXbohvAFiCd1zTuTs7MdRXFFQybmTJHVPh8ARpt0/RK5rXbHzsjsZuLjoDt1TQ10JPfZf2dg7a9vNQwA+cjTbTxRHOEiJJO8R1GtkOnMxr05eGoT6J7oac5hsR2pnMLbefgh1arjafDRGw+HluYSY1jZCfRKenRO1ZnVMNmNh529Uajg2x2oB6kD0RSCCrQFNQVlnkdGNkV2MJsBJ5C5XoqeHc42w7GD+tgcTtr2U7R/DFR9nG39Ap0x4loJjzUljZd5UuzzJwhaJeQzpq//gNP90KrsQ0WY2L6ugk/QeHqvcUfwdQbZ9QxyaIPcXOLp8AFoYXBYagf9Km0OHxRmd/ydceEKiwsk88f7nkOH8CxFVuermbT1jKS5827LLTOmZ1vBblagxga6oGtDLspZpYw/me74391h1WrVxNR5LWzPyCBUwQcNQXMg/mdmPfYOHpOo3osaXRF5HJ7PNcQrPYMx7FtHa3jLLYtucusa62zMSG5MwmLEF3vVHGYdGzeQ5BaHGqzA/L/ADHtBgEyxm7nPd/8jucQBos9lGo6HPkySWNO+kvI5ad9vGMts6IKlZOEpkNcRvYyREwS4uOwG4/t53DSIIMN7AIk/FUd8LZg2n4Qj1jmDaTicoNmsi8x8R3np4Gy2K+GAY32LGNflygA5iCZsJNzcST1nWEONhcqM1gfS+KQIf2gCGkixaxxgu1OogDVVoCq9omq8h9ofIFRrRMWkiNATIJ5K54YWOaD235rgGYgCSe7mfLSd3D4XM4ZwH1CADmH8tomAO00tnlc7HdMotiymkI8I4m6iBSMkAaO+Am4gawSfU6bP/8Amxl2zH3QBeL3IcY25ofEcP7VodSqF9amHAkZQTzaWgCBykLzntzDm1G3jUgyDy266p+TjonwjN2a1PGuf7znOF4vFvLkj4lzTBibd3hvPgVm0X020gS7thwIaNDIM91soPjqtLhuNaewS2XHR4JbPftPNVhJNbI5INO0ByjUTI9OV9VavjnBhOd5GkZzrMaJnHNDATljKJP3C84HyAOs/Y+9VpyoGOHLbF3BGrYJ7PeaQJInaxg3VxRhwkbi3Ne74zxIUsF7MObnOIqSwg5srjIc20R2SJ66coqHdl5ZGmkjw+CoucYa0mxNr2GphGxGLqvaxr3ucymCGAklrb6DkjYaoWtdUBioXHKQbjn80zQ4m+oHU6pkuGVptYlwkOMTG/eE6WhHLd0Y1VxJvryFvTZUp0SRrAnSFs4Onl9oyPiy+UxHj9UXi7BlYG6hv6/QjzW8ftm8tOkYrjpMGNDEEogozEEXBI8J15aKhajUdCOenTmPvkglsZukAqUjsNBfeyX9m6Zv5J/PBB5H/KtUYHCR6aFBwsyyUIe1tBaDGh39F1G+ljy0Phz8F1WkQgOpzuQpu0WSTQfKd0Wm0zIcQeclUoYhwEPGYbH4h+vii08rvdMdNCmjQkrRBpvmz/JxH6Kk1B8R/wCU/NWfSKEacIsC2XNd/OfAKA55+wqNbGhVzVPNC/sNfSPRUeOYsNiWPM6hpa3/AJ2Dj3JzBcezmKlRjDMWfTIP/wBiVSvgX1HScKHCPedI8swk+QRGYNrAA3Dtz75AHBp6ueJ8p7k65fZN8X6NItBjtPM8tPOFdtNotBFpvbzLoXlsbxOtmLGTUfypjM1vQxmzHy7kn/4rEVJFV5EQXNc6Ym92MLiD0yhF5PpGWL7Z6bGcWw9IQ+rm3yM1PTsGw8VhYnjVfEf6eHYKVPYMABPjt36cymcLwTCU25nuNUgdGMb3t/XyVjjmvGVrm0WkS2Rc7A5Z7dtAde5K+T70NHiulf8AoBg+H06dnPaXG73ExJ/I0n4RE2uekAJuti6TA7N2ybGBDRpAzHQ3FzA30CVp4ekDmzve7S7XPjpFIQ0z8MnW6C3g9Wue28NotcQIi0G9miJv4LW1pILSbuTBUMs+2rOb0AcA0cgCffN4sIF90bB4ttVzjBhphgZTec3PtD3R6nU8lo0+F4emB2G2EZntzOP+02n1Q6+JDWl05KY1Ok9AB9FlBrsDyJ9B6DSxud7cltD7OmGgEwLunfTQTadSPD8YBDj2CzUtb2p/uc4X80oHVKwa2lht59pVPZ1tI5+M9Fqs4HVMe1xJA2axrWtH9s29Cim/0itL9QgOOZpyYQ5ACJacpiP6RbzQx7MkEw9lTUZYNMjQ5gSCOd5BiwXpaPBqcQ51Wpzc90g79AR3JTFcHcXEijQeJgH+XUbsZc1xzT3jVHjI3KPo8txXACm0BrpkzBiRFpkG+ukT9Eack21Xrv4Wo2RWp5mOMEhrey2YAhrnG1jN/RFw/wCFw12elUBaQQQ4XAPI89L21KHDeg+TWzJNDOx4Nj2bkyRIBI87eCz6OEAHa15L0tbB5GPBNxc8l5yvVVGl2yKk+kdUdBJ8P3SmHZnqAHTfuGunzXPfPd9Ebh1NznDILk6/lbv99EjdspFcU2M4GQ8Rzt0MRK5uHBrgAWBE9wiZ+91p4enTYYAJJkZj3chbWB4oT6JDy4SZ+X3Cpx0R57sJhBck35nc2IBQq7cxWlgqQ9nnIu4mD/SIGnUg+QVXMEd6cQ89Vo/VBuO9a1WldLVqCVxHjP7EnPBExB6IT2flP0KPUpx9VFRim0VUkugNi2/X5oWVMOBC5hvp5folaHUhYtQXF2kA9ZhPmnyj6oL6J5JZRY0ZoFSqOG++kzPmie2G7Y7rfNDDSjVG8kFdBlVlHVByd6fqhOrjk70/VWjopDOgQ2FUj1uI4hXYSctQgibupBrdJ2kR1KUxVGq8Saj2iBDMzi2DPOCTA9QtGtiKdFuYvgC3Mk99yV5jiPH3Pd2BDRzuXd/IKkml2yUE5fyo2sHhQSIBLo2k2vfKLfqn30hEWEWjYHoLCUlwninZpsZTL6hE1MkSepJjc6DT0XoBhyRPudCGyPIlPGn0JO09mScKLF4EB0taAXZuRI2Pd0VxSZmL6jrnRsNkC9i6JgzoE67CA2LnO8YCszCsHwj5/NHiLyFhj/yNJ5ACBHKOSg06z7khg8z3BNPqctPRDfV5XRABbgqeplx8yfvkj0eGsc4VHgk7NLuy3wFpV6dOxl1zy18CQp/iW0mhoNh1kk/UrUa2O5bRAEaTp5b84VXVmjcu74gfIBZtPFuqmGxYwb6RrPKOWqbORo/MRufdH9rfvvRBQdtVztPPQeE3KmpiGNsXuceQsPIXWVVx0mGnW03k9wQ3YhrBcwel3H9FrNRo1nSNx/c4yesCfokSx1wxzgTs2SUtTruqGGmG/Edh3n4inqOKFNsMvPxHfqenIfuUA0ZuOq1qbDmaYdbOTc9C2beS87WnTUnzWxxvi76sU22aDJcYAnwWU8Fxhlhz3KVuxkqdsLSwjGjtAudNwLhvS2pTTMS57i3LkbyaA0f7o0SjWZI5j/K08JinMDhFyRLouI5dLbbpkqFk7NDC8Ne5suhtrD9hp+6u/C3AJuGx0MdZ5R5IlPHmkLkuDrzM89LaXKr/ABTKh7Lr6wbEfSfFOTJxRGUEHb5apSi7NblqN/8ACtX5bTokqgOosfVYAy+mJO/zSdVq52P/ADNnqLFHc2bgyPI+IWMIvAOqE6jyKPWYeXkgZJHZ28EGMgNSgVVrBEFTUrPGon5rmYhp94Fp8UmrKflRT+HXGidiiFgdcE+CBUpnZxQa/YKbfssaUKxpc0EV3CxV3Yo8vW3yQuI1SJNBd7E8lZlSQLTz6HwV8w/qHddHQttGrgeEue4uqtqEwOw4sAMkTo42jbe/crYT8IMzZnvgAg5BDj4uIE36LWwToEk76/fRGqOG0rcF7D5JLoLQoUqYhjBP5iBm81z6xKXdV/yhOqeKcQZa/wAAofVHf3pbMTuPVdmHeeunkgYsSXd3P6DmofUAVcxJuqvfs0XPLXzWMFBc4wPPkr/w7Bc3PMyD/tj3fvVVggQDc7C/+UCpA/mVBOoaIJ8tVjBquJAENEDYAR6LJxuOgEk9I2/dA4pWOjSTeB+g5ohwOVv+oczt+Q8BZCxkgeBx2Zwa0G9jUgWPedB0TD+E1M/aBIm50nnc6BINqQ+RADYcfC3zK0W8Z0affNuk8ggv3C/2GKzHCGsaI/LPnP3dIYoVicpho6KMLiyx5zaOIM8jEHzCPjqt7XKIOjOp4G/aMputlY2R3KWeu/0SeKabybIoSW3sbw/Ds7PaumSJDemzid9jCNxHGZyH7kSY+Excecp3GY1tSk0tAEtExzFiPvovOYhxHTmj0gdujWbX/wBCmD/V5F7o8Evhh2jG4jz/AMJNr4a3eQCBy6AfRPVc+QPd2Rlm+sC05TssmZrYdmK+FwkDff8AdZD+Ltzuy3pi0/Mxyv6LNr8Se8k6AyYFotH33pHKW36Lnnn/AKTqx/GX6jaxHEg73NAQZtJvcDloj4nGM1aTEAyRcGOmt153OR0RHYk5Y8OsJVnfsd/GWqNg8SNhJ0m/0KFR4qC4dmbXmxm5sR5LK7WW2keKXkpXmkPH48Nm9icWYB0F5Guhg33S+dwNzIOvrzSbH2BmL3B/dN0nQcxggWPjuPJNzchPGojFaBN7CBPKeY5KK1R2mw7voqU2AAsjWSB0ibIdWR5D5J2xEkEi9wY2IUOJBmf3Q6eKIED/AD+6HUxDjt5f4S8lQyg7GsPWOa+6bNUjl996zadRpaBF7mZvHcrfxQFjJ6pozpCyxW+j6E2gcvdbx3VHUXDvRm4yMoEWE3mP2V34uAf9ME/32+X3K6KOTkKiiT1PJNs4OYkpMcSNO5pgm+r/ANltU3VHUgXw0uEw3adNbytRrMatTDdYjySdTHMG4R8bwUvM5iZ3cST6odP8NjV10oyaM53Em3iTsPqbK9HFv+Bp0uTbwWqOFU26C6vUYGiAB9hajckY/wDquaS6oWjSG2npOqXwrGtJIEk9nziSmK9aG95J+g+SFTt5fJAcnAQapc74B2R/UZv4fVD4jiNe5RwvtVH2mW27xJ+hUY+jzWM3TFXtIGlzBPqfqs9xl3itHEPkE72tvulRhjlzc/okkh4S9sewo9oW55N5MdwufG61cRWa0mwEGATyifqQl8HTDZf09AfTUBApD2gdUqG2YjKNyOZ23TIVuyaBzGW3g67SSYvoVOOouv2HA9xOsxfrBRX4tpa1osA0W7gP380y3HCo2Z7YaLbyDr4keqdEm9iODwuRpeXnrTixN7z6eSzeJ4ptwASbi2/ci4/FbDX5b/qsum+DmIB/QggwekhSnKtItjhy/Jm1Rr0aUOzOJyuAkCQZblPdAdbk7nBWXxbixqgMuGtEGdXXJHgNPBJVK0lDMAybnkozyNqkdEMSTt9nEHYed/RS4E7yD6abLgJCim/ZwBuNVMsEbh2xBmeY28ECvSy845o1N5BIA7hOyIyo46i3IhGk0LckxIusBp16FVymYWi6mwAB1v32QKuHE9m6Dgxo5EBbQPimcJTi87Hf0Q20IsbWnuhSymdj56XWiq9Gk7VWPua4xUghogHSYEAiO4SgYirDiDz1Gi0AYaBEAgA94nbks2tTHJWkmkc8GmypULgLQoKQoUc0jTyCqXnb5okrpCWh7PomG/nN7x9U3xD3mqVy9A8kx8Tq3+8fML2GIXLlgi26iupXIAED9f1S2K909xXLkQmFjPh/2/Moj/e8CuXKZYHwP+a3vd/0cjcS181y5NESRkVPoPqjt/lDvH/Zy5cl9jejYq+7/tf9ViYHSr/cP+r1y5F9oEen/wB7F36ffVa9X+Ye7/8AIKFyHsPowMT7x7j80s/Qfe5XLlzy7OuHSBboP/suXKMi8Rhm66tr4D5rlyd9CLsIzUf3fRH2XLk8SUxdmjvH5lFbt98ly5BBZztPA/JA+Fvh9Fy5aQYmtX93xSL9ly5VmQxi71w3XLlE6fRQaKFy5KMf/9k=");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  margin-top: 60px;
}

.battleField{
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 10px;
  display: inline-block;
}
.enemyField{
  border-style: solid;
  border-width: 5px;
  border-color: #ff2828;
  border-radius: 10px;
  background-color: #08086778;
  margin-right: 10px;
}

.playerField{
  border-style: solid;
  border-width: 5px;
  border-color: #28ffc9;
  border-radius: 10px;
  background-color: #08086778;
}

.enemyhpField{
  border-style: solid;
  border-width: 5px;
  border-color: #ff2828;
  border-radius: 10px;
  background-color: #08086778;
  text-align: center;
}
.playerhpField{
  border-style: solid;
  border-width: 5px;
  border-color: #28ffc9;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #08086778;
  text-align: center;
}
.userPicture{
  width: 100%;
}

.enemyPicture{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
}

#enemyhp, #playerhp {
  background-color: azure;
}

h3{
  color: antiquewhite;
}

input {
  overflow: visible;
  width: -webkit-fill-available;
}

#message{
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #28a2ff;
  padding: 50px;
  margin-top: 14px;
  background-color: #08086778; 
  font-family: 'Audiowide';
  color: antiquewhite;
}