/* .maincontainer{
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5kc_OlCMDy4W1LgQ9X5XyCBtyMpMuzL8Jv4FVsTFBszwNioPn);
  text-align: center; */
  /* margin: 30px;
  padding: 10px;
  border-style:solid;
  border-width: 5px;
  border-color: #4CAF50; */
/* } */

body{
  text-align: center;
  background-image: url("https://img.getbg.net/upload/full/9/438312_art_gorod_korabli_dym_krasnyj_transport_trushhoby__1680x1050_(www.GetBg.net).jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  line-height: 1;

}

.body1{
  text-align: center;
  background-image: url("../assets/spaceship.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;

}

h1{
  font-family: 'Bungee Shade', cursive;;
  font-size: 75px;
  color: #e0e524;
}

.login_form{
  margin-right: 500px;
  margin-left: 500px;
  border-style: solid;
  border-width: 5px;
  border-color: #ff002b9e;
  border-radius: 10px;
  padding: 35px;
  background-color: #38386785;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    font-size: 1.5em;
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0px;
    border: 1.5px solid #3220b1;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: rgba(126, 255, 242, 0.52);
  border-width: 1.5px;
  border-radius: 4px;
  border-color: #ffffff;
  border-style: solid;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  /* width: 100%; */
}

button:hover {
  opacity: 0.8;
}

.colnumber2{
  margin-top: 19px;
  padding-right: 170px;
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.new_user {
  padding: 16px;
  background-color: #dfdfdf;
  border-style: inset;
  border-width: 4px;
  border-color: #f3335c;
}


span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {

  background-color: #0a172b;
  margin: 5% auto 15% auto;
  border: 1px solid #004d4d;
  width: 40%;
}

#list{
  color: antiquewhite;
  font-family: 'roboto';
  font-size: 15px;

}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;

}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
} 
/*
character page */

#characterButton{
  margin-top: 25px;
  margin-bottom: 25px;
}

.characterform{
  background-color:rgba(17, 45, 85, 0.84);;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #91e2f1;
}

.characterpic{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5HCpTdo90fYDDGe1le6ruzSB0GlaeR8CDGxvoqx1K4RkMZ6UM7A);
  background-size:100%;
}


#counter, #counterdex, #counterwis, #counteragi, #counterep, #character_name, #countervit  {
  font-size: 2em;
  color: antiquewhite;
  text-align: center;
  width: 100%;
  display: block;
  background: rgba(0,0,0,0.4);
  padding: .15em 0;
  
}

#character_name{
  border: none;
}

input {
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
    width: 100%;
    display: block;
    background: rgba(227, 227, 227, 0.8);
    padding: .15em 0;
}

.indexinput{
  border-style: solid;
  border-width: 1.5px;
  border-radius: 10px;
  border-color: #3220b1;;
  padding: 11px 0px;
  font-size: 1.5em;
}

.labeltext{
  font-family: roboto;
  font-weight: 400;
  color: #fbfbfb;
  font-size: 26px;
  line-height: 40px;
}


h3{
  font-family: 'Russo One', sans-serif;
  font-size: 2.4em;
  color: antiquewhite;
  text-align: center;
  padding: 10px;
}

.stats{
  display: inline-block;
}
  img {
    vertical-align: middle;
    border-style: solid;
    border-width: 3px;
    border-color: #f1f7ad;
    border-radius: 5px;
    width: 50%;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.character_name, .experiencepoints{
  padding: 5px;
}

#middle{
  background-color:rgba(10, 10, 10, 0.7);
  border-radius: 25px;
  margin-right: 450px;
  margin-left: 450px;
  width: 400px;
}

.mainMenu{
  padding-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 15px;
  display: inline-grid;
  align-content: center;
  border-style: solid;
  border-width: 5px;
  border-color: teal;
  border-radius: 10px;
  background-color: rgba(17, 45, 85, 0.84);
  margin-top: 30px;
}

.mainMenuButtons{
  padding: 1.0rem 3rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  border-color: #ffffff;
  
}

.newUserText{
  padding: 10px;
}

#signUpButton{
  background-color: #1abc25b5;
}

.planetField{
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: #f44336;
  background-color: rgba(17, 45, 85, 0.84);
  text-align: center;
}

.mediumPlanetText{
  text-align: center;
}
/* .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.experiencepoints .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  /* position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style> */ 